@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  --color-grayish-blue: hsl(225, 20%, 60%);
  --color-dark-blue: hsl(227, 35%, 25%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  background-color: hsl(230, 100%, 99%);
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: 100vw 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  color: hsl(227, 35%, 25%);
}

p {
  color: var(--color-grayish-blue);
}

.hidden {
  display: none;
}

.message {
  margin-bottom: 2rem;
  padding: 2rem;
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25%;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 400px;
  width: 600px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pricing-info,
.features {
  display: inline-flex;
  margin: 3.5rem 0 2rem 0;
}

.pricing-info {
  justify-content: space-evenly;
}

.features {
  margin: 2rem 4rem;
  justify-content: space-between;
}

.pageviews {
  color: var(--color-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  font-weight: 800;
}

.per-month {
  color: var(--color-grayish-blue);
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1.25px;
  position: relative;
  bottom: 14px;
}

.per-month span {
  color: var(--color-dark-blue);
  font-size: 2.5rem;
  font-weight: 800;
  position: relative;
  top: 14px;
}

/* Slider */
.slider {
  position: relative;
  margin-bottom: 3rem;
  max-width: 100%;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  width: 80%;
  height: 0.5rem;
  border-radius: 10px;
  outline: none;
  position: relative;
  background: hsl(224, 65%, 95%);
}

.range::-webkit-slider-thumb {
  -ms-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../images/icon-slider.svg), hsl(174, 86%, 45%);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 5px 10px 20px 5px hsl(174, 77%, 80%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 55%;
  transition: all 0.2s ease-in-out;
}

.billing-info {
  display: inline-flex;
  justify-content: center;
  color: var(--color-grayish-blue);
  font-size: 0.8rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid hsl(224, 65%, 95%);
}

.monthly {
  position: relative;
  padding: 0 1rem 0 5rem;
}

/* Toggle Switch */
.switch-input {
  position: absolute;
  opacity: 0;
}

.switch-label {
  display: flex;
  align-items: center;
}

.switch {
  display: inline-block;
  position: relative;
  height: 1.5rem;
  width: 3rem;
  background-color: hsl(223, 50%, 87%);
  border-radius: 10rem;
}

.switch:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  left: 0.25rem;
  top: 0.25rem;
  transition: left 0.3s ease-in-out;
}

/* When the switch is toggled */
.switch-input:checked + .switch {
  background: linear-gradient(
    90deg,
    rgba(165, 243, 235, 1) 0%,
    rgba(16, 213, 194, 1) 100%
  );
}

.switch-input:checked + .switch:after {
  left: 1.75rem;
}

.yearly {
  padding-left: 1rem;
}

.discount {
  font-size: 0.65rem;
  font-weight: 800;
  color: hsl(15, 100%, 70%);
  background: hsl(14, 92%, 95%);
  border-radius: 10px;
  padding: 0 0.25rem;
  margin-left: 0.5rem;
}

.feature-content {
  font-size: 12px;
  color: var(--color-grayish-blue);
  text-align: left;
  line-height: 2.25;
}

.btn {
  width: 11rem;
  padding: 0.9rem 0rem;
  background-color: var(--color-dark-blue);
  border-radius: 5rem;
  border: none;
  color: hsl(226, 100%, 87%);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
  cursor: pointer;
}

.icon-check {
  padding-right: 0.75rem;
}

@media screen and (max-width: 768px) {
  
  body {
    background-size: 100vw 50%;
  }

  .message {
    margin-bottom: 1rem;
    padding: 1rem 5rem;
    background-image: url(/images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 25%;
  }
  
  .pricing-card {
    width: 80%;
    height: 50%;
    margin: 2rem;
  }

  .pricing-info,
.features {
  display: block;
}

.billing-info {
  font-size: 0.7rem;
}

.monthly {
  position: relative;
  padding: 0 1rem 0 0;
}

.feature-content {
  text-align:center;
  padding-bottom: 10px;
}